<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/> 
</head>

<body>
    <h3>Hello <%=name%>, <span id="clock"></span></h3>
    <h2>Learning HTML with internal CSS</h2>  
    <p class="blue">This is a blue color paragraph</p>  
    <p class="red">This is a red color paragraph</p>  
    <p class="green">This is a green color paragraph</p>  
    <h2>HTML Image</h2>
    <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Trulli" width="500" height="333">
    <script src="/javascripts/script.js"></script>
</body>

</html>