<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/> 
</head>

<body>  
    <h2>Learning HTML with internal CSS</h2>  
    <p class="blue">This is a blue color paragraph</p>  
    <p class="red">This is a red color paragraph</p>  
    <p class="green">This is a green color paragraph</p>  
    <h2>HTML Image</h2>
    <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Trulli" width="500" height="333">

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadFileElm" id="uploadFileElmId"><br/>
        <input type="file" name="uploadFileElm" id="uploadFileElmId2">
        <input type="submit" value="submit">
    </form>

    <script src="/javascripts/script.js"></script>
</body>

</html>